<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="1" name="Test">
    <classes>
      <class name="testcases.TestHomePage"/>
      <class name="testcases.TestHeader"/>
      <class name="testcases.TestLogin"/>
      <class name="testcases.TestAuthor"/>
      <class name="testcases.TestBooksDisplay"/>
      <class name="testcases.TestOrder"/>
      <class name="testcases.TestShoppingCart"/>
      <class name="testcases.TestCheckout"/>
      <class name="testcases.TestMyAccount"/>
      <!--<class name="testcases.TestRegister"/>-->
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
